/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
.inline-block{
  display: inline-block;
}

header{
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  padding: 0px 160px 0px 140px;
  z-index: 1000;
}
.inline-block div{
  padding-top: 30px;
}
.inline-block div a{
  padding-right: 40px;
  font-weight: 800;
}

header figure img{
  width: 65px;
}

header figure {
  float: right;
}

#main{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #FFF;
  margin-top: 90px;
  background-image:url("../assets/images/bg-home.jpg");
  text-align:center;
}

#main div{
  padding: 70px 0 100px 0;
}
#main h2{
  font-size: 24px;
  margin-top: 0px;
  border-top-width: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

#main h1{
  font-size: 53px;
}

#main a{
  padding: 14px;
  background-color: lightgreen;
  margin-top: 50px;
  display: inline-block;
}

a:hover {
  color: #E95853;
}

#second{
  text-align: center;
  background-color: #FA8072;
  /*margin-top: 0;*/
  color: #FFF;
}

#second h2{
  margin-top: 0px;
  border-top-width: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.part{
  display: inline-block;
  margin: 100px;
  line-height: 2px;
}
.part img{
  width: 250px;
}

#third{
  text-align: center;
  
}
#third .text-uppercase{
  padding: 10px;
}

img[alt="hero"]{
  width: 800px;
}

.works{
  display: inline-block;
  text-align: center;
  padding: 50px;
}
#images{
  text-align: center;
}
 .works img{
   width: 350px;
 }
 footer{
   background-color: #000;
   color: #fff;
   height:60px;
   text-align: center;
   padding-top:3px;
   }